<title><%= datacenter.capitalize %> </title>
<HR><B><%= organization %> - Information Technology Department</B>
<HR><A HREF="http://<%= servername %>"><%= datacenter.capitalize %></A> |
Currently on: <%= servername %>
<HR><BR><A HREF="http://<%= servername %>/cobbler_web/">cobbler web interface</A> - Cobbler
<BR><A HREF="http://<%= servername %>/nagios/">nagios</A> - Nagios
<BR><A HREF="http://<%= servername %>:8080/">zenoss</A> - Zenoss
<BR><A HREF="http://<%= servername %>/ganglia/">ganglia</A> - Ganglia
<BR><A HREF="http://<%= servername %>/munin/">munin</A> - Munin
<BR><A HREF="http://<%= servername %>:2812">monit</A> - Monit 
<BR><A HREF="http://<%= servername %>:3000/">puppet dashboard</A> - Puppet Dashboard
<BR><A HREF="http://<%= servername %>:8000/">splunk</A> - Splunk
<BR><A HREF="http://<%= servername %>:18080/">MySQL Enterprise Monitor</A> - MySQL Enterprise Monitor 
<BR><A HREF="http://<%= servername %>/ocsreports">ocsreports</A> - OCS Inventory
<BR><A HREF="https://fedorahosted.org/func/">func</A> - func
<BR><A HREF="http://docs.puppetlabs.com/mcollective/index.html">mcollective</A> - mcollective
<BR><A HREF="http://mcgonagletom.pagerduty.com/">PagerDuty</A> - PagerDuty
<BR><A HREF="http://www.pingdom.com/">Pingdom</A> - Pingdom
<BR><A HREF="https://mcgonagletom.serverdensity.com/">ServerDensity</A> - ServerDensity
<BR><A HREF="http://<%= servername %>/puppetmaster-training/puppetmaster-training.html">PuppetMaster Training</A> - PuppetMaster Training
<BR><A HREF="http://<%= servername %>/ProPuppet.pdf">ProPuppet PDF</A> - ProPuppet.pdf 
<BR><A HREF="http://progit.org/book/"</A>Pro Git Online Book - Pro Git Online Book 
<BR><A HREF="http://book.git-scm.com/"</A>Git Community Book - Git Community Book 
<HR>
<font size=-1><i>Authorized use only.</i></font>
