<title><%= datacenter.capitalize %> </title>
<HR><B><%= organization %> - Information Technology Department</B>
<HR><A HREF="http://<%= servername %>"><%= datacenter.capitalize %></A> |
Currently on: <%= servername %>
<HR><BR><A HREF="http://<%= servername %>/cobbler_web/">cobbler web interface</A> - Cobbler
<BR><A HREF="http://<%= servername %>/puppetmaster-training/puppetmaster-training.html">PuppetMaster Training</A> - PuppetMaster Training
<BR><A HREF="http://<%= servername %>/ProPuppet.pdf">ProPuppet PDF</A> - ProPuppet.pdf 
<HR>
<font size=-1><i>Authorized use only.</i></font>
